/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
}

p {

}

a {

}

/* Колонки */

.row {

}
.col {

}


/* Потом селекторы по классам */

.text-input {

}

.button {

}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {


}


/* Страничка жанров и тегов */

.genre-first {

}

.genre-second {

}

.genre-third {

}

.genre-fourth {

}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
/* Я не доконца понял что там сверху и запутался поэтому решил все делать тут */
/* это короче стили для кнопок (в первую очередь это стили для страницы login)*/
.but {
    padding:10px;
    border-radius: 5px;
}
.main {
    display:flex;
    flex-direction:column;
}
/*Для кнопки отпавить сделал отельный класс*/
.but_sub {
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    background-color: #3333ff;
    color:white;
    text-decoration: none;
}
/*Разделение на блоки страница popular */
.col{
    display:flex;
    justify-content: space-around;
    padding: 10px;
    flex-direction:column;
}
.row{
    display:flex;
    justify-content: space-around;
    padding: 10px;
}
.single {
    width: 15em
}
/*Страница genres */
.genre-first {
    background-color: #e1f5ea;
    padding: 5px;
    margin-bottom:15px;
}
.genre-second {
    margin-bottom:15px;
    background-color: #cbedff;
    padding: 5px;
    width:75%
}
.genre-third {
    margin-bottom:15px;
    background-color: #fef0e3;
    padding: 5px;
    width:50%
}
.genre-fourth {
    background-color: #ebdcf9;
    padding: 5px;
    width:25%
}
